@charset "utf-8";

body {
	background-color:#17239A;
	color:#008AFF;
	font-family: 'PT Serif', serif;
}

.galaxy-background {
	background-image: url(../images/Header_background1.jpg)
}

.my-navbar {
	background-color:#17239A; 
}

